*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.buttons {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 30px;
}

.buttons__button__rock,
.buttons__button__paper,
.buttons__button__scissors {
    padding: 4px;
    width: 100%;
    height: 100%;
    background-color: white;
}

img {
    max-width: 240px;
    max-height: 240px;
}

.scorecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.scorecard__score {
    font-size: 109px;
}

.scorecard__overview {
    font-size: 36px;
}

.journal {
    display: flex;
    font-size: 36px;
    justify-content: center;
}