@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 72px;
}

.scorecard__score {
    font-size: 109px;
}

.scorecard__overview {
    font-size: 36px;
}

.journal {
    font-size: 36px;
}